doctype html
html(lang='ko')
  head
    title Hutton jitHub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    style.
      body {      
      font-family: 'Archivo+Black', sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      }
      p {
      font-size: 16px;
      }     
      .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      }
      .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      }
      .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }
      .bg-4 {
      background-color: #ffffff; /* White */
      color: ##080808;
      }
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      }
      .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      }
      .btn.btn-default.btn-lg {
      background-color: #3b5998;
      color:white;
      font-weight:bold;
      font-size-adjust: 0.58;
      }
      .container-fluid.bg-4.text-center {
      color:#474e5d;
      }
      .margin{
      font-size:300%;
      font-weight:bold;
      }      
      .container-fluid.bg-4.text-center-foot {
      text-align:center;
      background-color: #474e5d;
      }  
      img{
      display:block;
      margin:0 auto; 
      padding:10px;
      }

  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#') <strong>Hutton JitHub
        |  
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#hutton') 허튼이란?         
            li
              a(href='#huttonjit') 허튼짓
            li
              a(href='#huttonjithub') 허튼짓허브
    .container-fluid.bg-1.text-center
      #hutton
      h3.margin "Hutton"<br><br>      
      a(href='#') 
        img.img-responsive.img-circle.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/hutton_again.png', style='display:inline', alt='Hutton', width='350', height='350')
      h3 
      p.first
        | <br>"가치있는 것들만 경외하는 세상에 지쳤어요.. <br><br> 세상이 허튼 것이라고 말하는 것들이 <br>정말로 허튼 것인가요? <br>그저 때와 장소가 맞지 않았던 걸 수 도 있잖아요..<br> "지금은 맞고 그때는 틀리다.." 랄까나..?
      |  
    .container-fluid.bg-2.text-center
      #huttonjit
      h3.margin "Hutton Jit"      
      p
        | <br> 세상 모든 허튼 짓(Hutton Jit)에 대해<br>우리 이야기 해보도록 해요<br> 혹시, 알아요? 그 무가치의 더미속에서 가치를 발견할지..<br>
      |  
      a.btn.btn-default.btn-lg(href='https://www.facebook.com/Hutton_JitHub-1419997911373622/' target="_blank")
        span.glyphicon.glyphicon-thumbs-up
        |  "오늘의 허튼 짓"
    .container-fluid.bg-4.text-center
      h3.margin 
        #huttonjithub
        strong "Hutton JitHub"
        p
         h4
          | <br> 당신의 허튼 짓을 공유하는 공간이에요. <br> 그냥 내키는 데로 들어가요. 어디든..
        |  
      br
      .row
        .col-sm-2
          a(href='#')
            img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/rumor_1.png', width='130', alt='Image' )
          p
           | 허튼소리
          |  
        .col-sm-2          
          a(href='#')
            img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/sujack.png', width='130', alt='Image')
          p
           | 허튼수작
          |       
        .col-sm-2
          a(href='#')
           img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/ideas.png', width='130', alt='Image')
          p
           | 허튼생각
          |  
        .col-sm-2
         a(href='#')
           img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/human.png', width='130', alt='Image')
         p
          | 허튼녀석
         |  
        .col-sm-2
          a(href='#')
            img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/memos.png', width='130', alt='Image')
          p
           | 허튼기록
          |  
        .col-sm-2
          a(href='#')
            img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/fams.png', width='130', alt='Image')
          p
           | 허튼가족
          |  
      a.btn.btn-default.btn-top(href='#')
        span.glyphicon.glyphicon-menu-up
        |  Top
        
    footer.container-fluid.bg-4.text-center-foot
      p
       h5 Hutton Van Leugen | e-mail : huttonvanleugen@gmail.com 