doctype html
html(lang='ko')
  head
    title Hutton jitHub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    style.
      body {      
      font-family: 'Archivo+Black', sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      }
      p {
      font-size: 16px;
      }     
      .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      }
      .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      }
      .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }
      .bg-4 {
      background-color: #ffffff; /* Black Gray */
      color: ##080808;
      }
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      }
      .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      }
      .btn.btn-default.btn-lg {
      background-color: #3b5998;
      color:white;
      font-weight:bold;
      font-size-adjust: 0.58;
      }
      .container-fluid.bg-4.text-center {
      color:black;
      }
      .margin{
      font-size:300%;
      font-weight:bold;
      }
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#') Hutton JitHub
        |  
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#sori') Hutton sori 
            li
              a(href='#sujack') Hutton sujack
            li
              a(href='#ill') Hutton ill
            li
              a(href='#fam') Hutton cozy-five
    .container-fluid.bg-1.text-center
      h3.margin "Hutton is my name"
      a(href='#') 
        img.img-responsive.img-circle.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/hutton.jpg', style='display:inline', alt='Bird', width='350', height='350')     
      h3 
        | 허튼 [관형사] : 쓸데없이 헤프거나 막된.	 
      |  
      p
        | <br><br>"세상의 모든 허튼 것들을 가치있는 것으로 바꾸려 합니다." <br> - Hutton -
      |  
    .container-fluid.bg-2.text-center
      h3.margin "Hutton JitHub"
      p
        | 가치있는 것들만 추구하는 삶에 지쳤습니다.<br>모든 허튼짓(Hutton Jit)의 허브(Hub)가 되고자 합니다.<br>당신의 허튼짓을 세상과 공유하세요.
      |  
      a.btn.btn-default.btn-lg(href='https://www.facebook.com/Hutton_JitHub-1419997911373622/' target="_blank")
        span.glyphicon.glyphicon-thumbs-up
        |  "Hutton JitHub" on Facebook
    .container-fluid.bg-4.text-center
      h3.margin 
        strong "Hutton Squad"
      br
      .row
        .col-sm-3
          #sori
          p 
            | 허튼소리
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
        .col-sm-3
          #sujack
          p
            | 허튼수작
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
        .col-sm-3
          #ill
          p
            | 허튼일
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg  ', style='width:100%', alt='Image') 
        .col-sm-3
          #fam
          p
            | 허튼가족
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')  
      a.btn.btn-default.btn-top(href='#')
        span.glyphicon.glyphicon-menu-up
        |  Top
        
    footer.container-fluid.bg-4.text-center
      p
        | Lean more 
        a(href='https://www.facebook.com/Hutton_JitHub-1419997911373622/') Huttonism
