doctype html
html(lang='en')
  head
    title Bootstrap Theme Simply Me
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      }
      p {font-size: 16px;}
      .margin {margin-bottom: 45px;}
      .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      }
      .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      }
      .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }
      .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
      }
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      }
      .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      }
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#') Me
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') WHO
            li
              a(href='#') WHAT
            li
              a(href='#') WHERE
    .container-fluid.bg-1.text-center
      h3.margin Who Am I?
      |  
      img.img-responsive.img-circle.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonvanleugen/img/baies_adjust_1.jpg?X-Amz-Date=20161219T062125Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=0e867f36ef594c2e010275ddf49a9a1e10e18484badf1a0cc324a3913e2f14ac&X-Amz-Credential=ASIAJDMPVJXCGWAOAJMA/20161219/ap-northeast-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzED8aDOsrJ%2Bnw7IabOZYfjiL6Afm6%2B8FSaigdee50W3pbtU2XMjo173yD2pg%2BrhnMmmc92XWOOfNWRWgI92jpJkVJz%2B2QSTtYefTF6wsq%2BgddweZX9aEuKoY4NJZNOzCmHnxgN5xzSvsF0oGv0DfnrQown6L8YgVR3bpetuzr5DbTPxtTvJ9FFajA/PjQeVo2ZikTvERdgDZsg48yQnjdPywWhJK67m/XeXX6/VWQBxLeLOvLAm1dL9IpWKC/HY83/O1yv9zlyzEuZcwvejeHGdi0u0YgPVBEqgqqNv%2BRa4FKF4t8ITQ1F2nSVhLQRABdkrmudpMeiGJI%2Ba1orrLAArh8KcK01sfC7xT54BQopubdwgU%3D', style='display:inline', alt='Bird', width='350', height='350')
      h3 I&apos;m an adventurer
    .container-fluid.bg-2.text-center
      h3.margin What Am I?
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      a.btn.btn-default.btn-lg(href='#')
        span.glyphicon.glyphicon-search
        |  Search
    .container-fluid.bg-3.text-center
      h3.margin Where To Find Me?
      br
      .row
        .col-sm-4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          |  
          img.img-responsive.margin(src='http://www.powersportstv.com/adminuploadedimage/400x200/2005_Honda_Sportrax_300EX.jpg', style='width:100%', alt='Image')
        .col-sm-4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          |  
          img.img-responsive.margin(src='http://www.powersportstv.com/adminuploadedimage/400x200/2005_Honda_Sportrax_300EX.jpg', style='width:100%', alt='Image')
        .col-sm-4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          |  
          img.img-responsive.margin(src='http://www.powersportstv.com/adminuploadedimage/400x200/2005_Honda_Sportrax_300EX.jpg', style='width:100%', alt='Image')
    footer.container-fluid.bg-4.text-center
      p
        | Bootstrap Theme Made By 
        a(href='http://www.w3schools.com') www.w3schools.com
