doctype html
html(lang='ko')
  head
    title Hutton jitHub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    style.
      body {      
      font-family: 'Archivo+Black', sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      }
      p {
      font-size: 16px;
      }     
      .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      }
      .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      }
      .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }
      .bg-4 {
      background-color: #ffffff; /* White */
      color: ##080808;
      }
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      }
      .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      }
      .btn.btn-default.btn-lg {
      background-color: #3b5998;
      color:white;
      font-weight:bold;
      font-size-adjust: 0.58;
      }
      .container-fluid.bg-4.text-center {
      color:#474e5d;
      }
      .margin{
      font-size:300%;
      font-weight:bold;
      }      
      .container-fluid.bg-4.text-center-foot {
      text-align:center;
      background-color: #474e5d;
      }      
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#') <strong>Hutton JitHub
        |  
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#hutton') 허튼이란?                 
            li
              a(href='#blog') 허튼소리
            li
              a(href='#portfolio') 허튼수작
            li
              a(href='#idea') 허튼생각
            li
              a(href='#people') 허튼녀석
            li
              a(href='#doodle') 허튼낙서
            li
              a(href='#cozy-five') 허튼가족
    .container-fluid.bg-1.text-center
      h3.margin "Hutton"
      #hutton
      a(href='#') 
        img.img-responsive.img-circle.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/hutton_again.png', style='display:inline', alt='Hutton', width='350', height='350')     
      h3 
      p.first
        | <br>"가치있는 것들만 경외하는 세상에 지쳤어요.. <br><br> 세상이 허튼 것이라고 말하는 것들이 정말로 허튼 것인가요? <br>그저 때와 장소가 맞지 않았던 것은 아닐까 하는 의문이 드네요..<br> "지금은 맞고 그때는 틀리다.." 랄까나..?
      |  
    .container-fluid.bg-2.text-center
      h3.margin "Hutton JitHub"
      p
        | <br> 세상 모든 허튼 짓(Hutton Jit)에 대해서 우리 이야기 해봐요. <br> 혹시, 알아요? 그 무가치의 더미속에서 가치를 발견할지..<br>
      |  
      a.btn.btn-default.btn-lg(href='https://www.facebook.com/Hutton_JitHub-1419997911373622/' target="_blank")
        span.glyphicon.glyphicon-thumbs-up
        |  "오늘의 허튼 짓"
    .container-fluid.bg-4.text-center
      h3.margin 
        strong "Hutton Squad"
        p
         h4
          | <br> 어디든 내키는 곳으로 들어가요
        |  
      br
      .row
        .col-sm-2
          #blog
          p 
            | 허튼소리
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
        .col-sm-2
          #portfolio
          p
            | 허튼수작
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
        .col-sm-2
          #idea
          p
            | 허튼생각
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg  ', style='width:100%', alt='Image') 
        .col-sm-2
          #people
          p
            | 허튼녀석
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')  
        .col-sm-2
          #doodle
          p
            | 허튼낙서
          |  
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
        .col-sm-2
          #cozy-five
          p
            | 허튼가족
          |            
          img.img-responsive.margin(src='https://s3.ap-northeast-2.amazonaws.com/huttonjithub/img/idea.jpg', style='width:100%', alt='Image')
      a.btn.btn-default.btn-top(href='#')
        span.glyphicon.glyphicon-menu-up
        |  Top
        
    footer.container-fluid.bg-4.text-center-foot
      p
        | Lean more 
        a(href='https://www.facebook.com/Hutton_JitHub-1419997911373622/') Huttonism
